@use "./partials/reset.scss" as *;
@use "./partials/variables.scss" as *;

main {
    .jumbo-section {
        background-color: $title-color-secondary;
    }

    .second-section, .third-section {
        background-color:$background-color-sections;
    }
}