/*
------------------------
    VARIABLES
------------------------
*/

// PALETTE

$background-color: #FFFFFF;
$background-color: #F5F1ED;
$background-color: #696969;
$background-color: #8C89A2;
$background-color: #F8F8F8;
$background-color: #F5F7FA;
$background-button: #20AD96;
$title-color-secondary: #3F3A64;
