/*
------------------------
    VARIABLES
------------------------
*/

// PALETTE

$background-color-sections: #F6F6F6;
$background-color: #696969;
$background-color: #8C89A2;
$background-color: #F5F7FA;
$background-button: #20AD96;
$font-color-secondary: #3F3A64;
